<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>city_list</key>
		<array>
			<dict>
				<key>city_name</key>
				<string>上海市</string>
				<key>city_code</key>
				<string>sh</string>
				<key>alias_name</key>
				<string>上海</string>
				<key>pingyin</key>
				<string>SHANGHAI</string>
				<key>pic_url</key>
				<string>uploadfile/2016/1020/20161020044119579.png</string>
			</dict>
			<dict>
				<key>city_name</key>
				<string>北京市</string>
				<key>city_code</key>
				<string>bj</string>
				<key>alias_name</key>
				<string>北京</string>
				<key>pingyin</key>
				<string>BEIJING</string>
				<key>pic_url</key>
				<string>uploadfile/2016/1108/20161108101703651.png</string>
			</dict>
			<dict>
				<key>city_name</key>
				<string>广东省</string>
				<key>city_code</key>
				<string>gz</string>
				<key>alias_name</key>
				<string>广东</string>
				<key>pingyin</key>
				<string>GUANGDONG</string>
				<key>pic_url</key>
				<string>uploadfile/2016/1020/20161020044256222.png</string>
			</dict>
		</array>
		<key>course_price_min</key>
		<integer>0</integer>
		<key>course_price_max</key>
		<integer>1000</integer>
		<key>people_num_min</key>
		<integer>0</integer>
		<key>people_num_max</key>
		<integer>200</integer>
		<key>course_time</key>
		<array>
			<string>1小时</string>
			<string>1.5小时</string>
			<string>2小时</string>
			<string>2.5小时</string>
			<string>3小时</string>
			<string>3.5小时</string>
			<string>半天</string>
			<string>一天</string>
			<string>两天</string>
			<string>三天及以上</string>
		</array>
		<key>about_us_url</key>
		<string>http://www.gomaster.cn/mweb/index.php?c=ipage&amp;a=about</string>
		<key>agree_url</key>
		<string>http://www.gomaster.cn/mweb/index.php?c=ipage&amp;a=agree</string>
		<key>server_number</key>
		<string>400-8852446</string>
		<key>sence</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>上门团建服务</string>
				<key>url</key>
				<string>uploadfile/ka_sence/1.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>name</key>
				<string>VIP客户活动</string>
				<key>url</key>
				<string>uploadfile/ka_sence/2.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>name</key>
				<string>户外拓展</string>
				<key>url</key>
				<string>uploadfile/ka_sence/3.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>name</key>
				<string>年会&amp;商场活动</string>
				<key>url</key>
				<string>uploadfile/ka_sence/4.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>场地介绍</string>
				<key>url</key>
				<string>uploadfile/ka_sence/5.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>精彩时刻</string>
				<key>url</key>
				<string>uploadfile/ka_sence/6.png</string>
			</dict>
		</array>
		<key>requirement</key>
		<dict>
			<key>taking_time</key>
			<string>15分钟</string>
			<key>people_num</key>
			<array>
				<string>待定</string>
				<string>10～20人</string>
				<string>21～30人</string>
				<string>31～40人</string>
				<string>41～50人</string>
				<string>50人以上</string>
			</array>
			<key>group_type</key>
			<array>
				<string>不限</string>
				<string>上门团建</string>
				<string>外出团建</string>
			</array>
			<key>course_time</key>
			<array>
				<string>不限</string>
				<string>半天</string>
				<string>一天</string>
				<string>两天</string>
				<string>三天及以上</string>
			</array>
			<key>course_price</key>
			<array>
				<string>不限</string>
				<string>200元以下</string>
				<string>200～300元</string>
				<string>300～500元</string>
				<string>500元以上</string>
			</array>
		</dict>
</dict>
</plist>
